/* header banner animation */
.header-ban-big-text{
    animation-name: banner-tex;
    animation-duration: 4s;
}
@keyframes banner-tex{
from{
    color: rgba(87, 87, 22, 0.79);
}
to{
    color: orange
}
}
/* main section */
/* big box part */
.big-box-parent{
   display: flex;
   flex-direction: column;
  border-radius: 20px;
   align-items: center;
    width: 420px;
    height: 400px;
    padding-right: 45px;
    /* padding-left: -70px; */
    padding-top: 37px;
    padding-bottom: 15px;

}
.box-box{
   display: grid;
   grid-template-columns: repeat(3,2fr);
    width: 220px;
    height: 110px;
  box-shadow: 0px 0px 5px black;
  margin-top: -8px;
  /* margin-bottom: 30px; */
  align-items: center;
  padding-left: 30px;
  flex: 1;
  /* justify-content: start; */
  gap: 30px;
  border-radius: 10px;

}
/* main section big box and rating section */
.all-small-boxes{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    /* width: 700px; */
    gap: 20px;
}
/* teo box img and text part */

/* 1st box styles */
.first-box-parent {
    margin-top: 20px;
    width: 750px;
    height: 470px;
    flex: 1;
}

/* 2nd box styles */
.second-box-parent{
width: 530px;
height: 450px;
/* flex: 1; */
}
.sec-box-img{
width: 300px;
height: 320px;
}
/* input and text and image footer upper part */
.input-and-text-upper-parent{
 
   margin: 0 auto;
   border-radius: 16px;
   padding-top: 20px;
   padding-bottom: 15px;
   margin-bottom: 200px;
}

.banner-main-section{
    height: 900px;
}
.image-and-input-section-main{
    position: relative;
    top: 450px;
}
footer{
     padding-top: 400px;
    /* padding-bottom: 700px;  */
    padding-bottom: 300px;
    height: 900px;
    box-sizing: border-box;
}

@media  screen and (max-width: 650px) {
  
        html{
       width: 850px;
       }
    .big-box-parent{
        margin: 20px auto;
        width: 750px;

    }  
    .box-box{
    margin: 0 auto;
        width: 200px;
    height: 110px;
    }
    .second-box-parent{
        width: 750px;
    }
    .img-box-t-sec{
        font-size: 27px;
        position: relative;
        left: -50px;
        top: 30px;
    }
    .pet-img-sec{
      position: relative;
      left: 240px;
      top: -180px;
     
    }

    
}
@media screen and (min-width: 651px) and (max-width:1025px) {
.browse-by-cata{
position: relative;
top: -70px;
}
.second-box-parent{
    width: 750px;
}
}