.banner{
    
    height: 100vh;
    background-image: url(c1-assets/cat-big.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: contain;
    background-position: 200px center;
}
/* main section */
/* big box part */
.big-box-parent{
   display: flex;
   flex-direction: column;
  border-radius: 20px;
   align-items: center;
    width: 420px;
    height: 400px;
    padding-right: 45px;
    /* padding-left: -70px; */
    padding-top: 37px;
    padding-bottom: 15px;

}
.box-box{
    display: flex;
    width: 220px;
    height: 110px;
  box-shadow: 0px 0px 5px black;
  margin-top: -8px;
  /* margin-bottom: 30px; */
  align-items: center;
  padding-left: 30px;
  /* justify-content: start; */
  gap: 30px;

}
/* main section big box and rating section */
.all-small-boxes{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    width: 700px;
}
/* teo box img and text part */

/* 1st box styles */
.first-box-parent {
    margin-top: 20px;
    width: 750px;
    height: 470px;
    flex: 1;
}

/* 2nd box styles */
.second-box-parent{
width: 530px;
height: 450px;
/* flex: 1; */
}
.sec-box-img{
width: 300px;
height: 320px;
}
/* input and text and image footer upper part */
.input-and-text-upper-parent{
 
   margin: 0 auto;
   border-radius: 16px;
   padding-top: 20px;
   padding-bottom: 15px;
   margin-bottom: 200px;
}

@media  screen and (max-width: 650px) {
    .big-box-parent{
        margin: 20px auto;
    }  
}